*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* head {
    width: 100%;
} */

.topthing {
    font-family: 'Bangers', cursive;
    background-color: whitesmoke;
    color: black;
    font-size: 40px;
    line-height:80px;
}

.topthing img {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.aboutfooter {
    padding: 60px;
    text-align: center;
    background: #ff7b00;
    color: white;
    font-size: 40px; 
}

.detailsfooter {
    padding: 30px;
    text-align: center;
    background: #636363;
    color: white;
    font-family: monospace;
    font-size: 20px;
}
  
/* .page{
    padding: 60px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    font-size: 30px;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
} */

.card {
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    
}


.cardActive {
    transition: 0.5s;
}

.cardActive:hover {
    box-shadow: 0px 0px 40px black;
    cursor: pointer;
    transition: 0.5s;
}

.activeBtn {
    border-bottom: 2px solid black;
}

.btn {
    padding:15px;
}

/* body, html{ 
    height:100%; 
} */

h1 {
    font-family: 'Bangers', cursive;;
}

button {
    border: none;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #ff7b00;
    outline: none;
}

input[type="submit"] {
    padding: 5px;
    width: 180px;
    margin: 5px;
    border: 2px solid black;
    outline: none;
    transition: 0.5s;
}

input[type="submit"]:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}
